{% extends "layout.html" %}

{% block custom_link %}
  <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        
  <script src='/scripts/approveDevice.js'></script>
{% endblock %}

{% block title %}
<h1>Approve Devices</h1>
{% endblock %}

{% block start_body %}
<div class="alert alert-danger" style="display: none">
  <strong>Oh No!</strong>&nbsp; Something went wrong  while approving/removing that device.
</div>
{% endblock %}

{% block body %}
<table class="table table-striped devices_approve_table">
  <thead>
    <tr>
      <th style="width: 20%">#</th>
      <th>Device Name</th>
      <th style="width: 30%">Action</th>
    </tr>
  </thead>
  <tbody>
    <!-- No results table row -->
    <tr id="no_results">
      <td colspan=3><h2 style="text-align:center"><strong>There are currently no devices that require your approval!</strong></h2></td>
    </tr>
    <!-- End of no results row -->
    {% for device in devices %}
    <tr>
      <td>
        {{ device.id }}
      </td>
      <td>
        {{ device.name }}
      </td> 
      <td>
        <button type="button" class="btn btn-info btn-xs approveButton" value="approve" data-deviceid={{ device.id }}><i class="fa fa-check-circle"></i> Approve </button>
        <button type="button" class="btn btn-info btn-xs approveButton" value="remove" data-deviceid={{ device.id }}><i class="fa fa-times-circle"></i> Remove </button>
      </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
<!-- Button trigger modal -->
