{% extends "layout.html" %}

{% block custom_link %}
  <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        
  <script src='/scripts/updateDevice.js'></script>
{% endblock %}

{% block title %}
<h1>Update Device</h1>
{% endblock %}

{% block start_body %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Update Key</h1>
        <!--
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        -->
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Value:</label>
            <input type="text" class="form-control" id="value">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Go Back</button>
        <button type="button" class="btn btn-primary" id="saveButton" data-key='key'>Save</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<table class="table table-striped projects">
  <thead>
    <tr>
      <th style="width: 20%">Key</th>
      <th>Value</th>
      <th style="width: 20%">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for property in properties %}
    <tr>
      <td class="keyField">
        {{ property.key }}
      </td>
      <td class="valueField">
        {{ property.value }}
      </td>  
      <td>
        <a href="{{ url_for('dash_update_device', device_id=device.id) }}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
        <a href="" class="btn btn-warning btn-xs"><i class="fa fa-trash-o"></i> Reset </a>
        <button type="button" id="updateModalButton" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Edit </button>
        <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#exampleModal" data-key="{{ property.key }}" data-value="{{ property.value }}"><i class="fa fa-pencil"></i> Edit </button>
      </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
<!-- Button trigger modal -->
